<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scarle=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Página do Administrador</title>
    <link rel="stylesheet" href="../static/css/style_adm.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <section class="abas">
        <header>
            <div class="logout1">
                <img src="..\static\Imagens\logo.png" width="50%" alt="Logout">
            </div>
            <nav>
                <div class="perfil">
                    <img class="img"src="https://cdn-icons-png.flaticon.com/512/64/64572.png?w=740&t=st=1649205811~exp=1649206411~hmac=2b5ab8271b0f5e8fad6bbbfaf3aebb98fc508fa02302d598d79b31bb4239cf53">
                    <div class="texto">
                       Administrador
                    </div>
                </div>
                <hr>
                <a href="./nova_soli" class="solicitacao">
                    <img class="icone" src="https://cdn-icons-png.flaticon.com/512/37/37770.png?w=360">
                    <div>
                        Nova solicitação
                    </div>
                </a>
                <a href="./graficos" class="solicitacao">
                    <div>
                        Graficos
                    </div>
                </a>
                <a href="./usuarioss" class="solicitacao">
                    <div>
                        Usuários
                    </div>
                </a>
                <a href="./historico" class="solicitacao">
                    <div>
                        Minhas solicitações
                    </div>
                </a>
                <a href="./solicitacoes" class="solicitacao">
                    <div>
                        Solicitações
                    </div> 
                </a>
            </nav>
            <div class="logout">
                <a href="./login.html"><img src="..\static\Imagens\logout.png" alt="Logout"></a>
                <p style="margin: 0;">Sair</p>
            </div>
        </header>
        
        <main id="graficos">
            <div class="tudo">
                <form method="post" action="/intervalo">
                    <label class="texto">Informe o intervalo de tempo desejado</label>
                    <select class="tempo" name="intervalo">
                        <option value="hoje">Hoje</option>
                        <option value="semana">Última semana</option>
                        <option value="15dias">Últimos 15 dias</option>
                        <option value="mes">Último mês</option>
                        <option value="tudo">Tudo</option>
                    </select>
                    <button class="ver" type="submit">Ver</button>
                </form>
            </div>
            <br>
            <div class="relatorios-graficos">
                <h1 class="relatorios-titulo"> Relatórios do Sistema</h1>
                <br>

                <div>
                    <script type="text/javascript">
                        google.charts.load("current", {packages:["corechart"]});
                        google.charts.setOnLoadCallback(drawChart);
                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                            ['Status',  'Quantidade'],
                            ['Fechados', {{per_cham[1]}}],
                            ['Abertos', {{per_cham[0]}}],
                            ]);

                            var options ={
                                title: 'Percentual de chamados abertos e fechados',
                                pieHole: 0.4,
                                width: 600,
                                height: 480,
                                colors: ['rgb(177, 10, 4)', 'rgb(15, 76, 129)'],
                               
                                
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                            chart.draw(data, options);
                        }
                    </script> 
                        <div id="donutchart" style="width: 100%; height: 100%;"></div>
                </div>
                
               
                <br>
                <div>
                    <script type="text/javascript">
                        google.charts.load('current', {'packages':['line']});
                        google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var data = new google.visualization.DataTable();
                        data.addColumn('number', 'Day');
                        data.addColumn('number', 'Abertos');
                        data.addColumn('number', 'Fechados');
                        

                        data.addRows([
                            [1,  37.8, 80.8],
                            [3,  25.4,   57],
                            [4,  11.7, 18.8],
                            [5,  11.9, 17.6],
                            [6,   8.8, 13.6],
                            [7,   7.6, 12.3],
                            [8,  12.3, 29.2],
                            [9,  16.9, 42.9],
                            [10, 12.8, 30.9],
                            [11,  5.3,  7.9],
                            [12,  6.6,  8.4],
                            [13,  4.8,  6.3],
                            [14,  4.2,  6.2]
                        ]);

                    var options = {
                        chart: {
                            title: 'Evolução de chamados abertos e fechados',
                            width: 600,
                            height: 400,
                        },
                        
                    };

                    var chart = new google.charts.Line(document.getElementById('linechart_material'));

                    chart.draw(data, google.charts.Line.convertOptions(options));
                    }
                    </script>
                    <div id="linechart_material" style="width: 600px; height: 400px;"></div>
                </div>
                <br>
                <div class="media-sistema">
                    <h2 class="titulo-media-sistema"> Média geral do sistema </h2>
                    <p class='nota-sistema'> 4/5 </p>
                </div>
                <br>
                <div class="media-tecnicos">
                    <h2 class="titulo-media-tecnicos"> Média dos Técnicos </h2>
                        <div class="tabela-media-tecnicos">
                            <table class="tabela" border=1px>
                                <tr class="cabecalho-tabela">
                                    <th>Técnico</th><th>Nota</th>
                                </tr> 
                                <tr>
                                    <td>Ana</td><td>1/5</td>
                                </tr>
                                <tr>
                                    <td>Bety</td><td>2/5</td>
                                </tr>
                                <tr>
                                    <td>Alfedro</td><td>3/5</td>
                                </tr>
                                <tr>
                                    <td>Pedro</td><td>4/5</td>
                                </tr>
                            </table>
                        </div>
                </div>
            
        
            </div>  
        </main>
    </section>
</body>

</html>