<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scarle=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Página do Administrador</title>
    <link rel="stylesheet" href="../static/css/style_adm.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <section class="abas">
        <header class="active">
            <div class="toggle_btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logout1">
                <img src="..\static\Imagens\logo.png" width="50%" alt="Logout">
            </div>
            <nav>
                <div class="perfil">
                    <img class="img"src="https://cdn-icons-png.flaticon.com/512/64/64572.png?w=740&t=st=1649205811~exp=1649206411~hmac=2b5ab8271b0f5e8fad6bbbfaf3aebb98fc508fa02302d598d79b31bb4239cf53">
                    <div class="texto">
                       Administrador
                    </div>
                </div>
                <hr>
                <a href="./nova_soli" class="solicitacao">
                    <img class="icone" src="https://cdn-icons-png.flaticon.com/512/37/37770.png?w=360">
                    <div>
                        Nova solicitação
                    </div>
                </a>
                <a href="./graficos" class="solicitacao">
                    <div>
                        Relatórios do Sistema
                    </div>
                </a>
                <a href="./usuarioss" class="solicitacao">
                    <div>
                        Usuários
                    </div>
                </a>
                <a href="./historico" class="solicitacao">
                    <div>
                        Minhas solicitações
                    </div>
                </a>
                <a href="./solicitacoes" class="solicitacao">
                    <div>
                        Solicitações
                    </div> 
                </a>
            </nav>
            <div class="logout">
                <a href="./login.html"><img src="..\static\Imagens\logout.png" alt="Logout"></a>
                <p style="margin: 0;">Sair</p>
            </div>
            <script src="..\static\script.js"></script>
        </header>
        
        <main id="graficos">
            <div class="relatorios-graficos">

                <div class="div_intervalo">

                        <h3 class="test_inter">Período a visualizar, entre:</h3>
                        <form method="post" action="/intervalo">

                            <div class="form_intervalo" style="justify-content: center;">
                                Dia final: 
                                <input id="date" type="date" name="dataini">
                            </div>

                            <p class="aviso" style="font-size: 13px;">*Caso não informe nem uma data, <br>será usada a data atual</p>

                            <h4 class="test_inter">Intervalo de dias:</h4>
                            <div class="form_intervalo">
                                {% if intervalo == 'Dia' %}
                                <input class="tempoatv" type="submit" name="intervalo" value="Dia">
                                {% else: %}
                                <input class="tempo" type="submit" name="intervalo" value="Dia">
                                {% endif %}

                                {% if intervalo == 'Semana' %}
                                <input class="tempoatv" type="submit" name="intervalo" value="Semana">
                                {% else: %}
                                <input class="tempo" type="submit" name="intervalo" value="Semana">
                                {% endif %}

                                {% if intervalo == '15 dias' %}
                                <input class="tempoatv" type="submit" name="intervalo" value="15 dias">
                                {% else: %}
                                <input class="tempo" type="submit" name="intervalo" value="15 dias">
                                {% endif %}

                                {% if intervalo == 'Mês' %}
                                <input class="tempoatv" type="submit" name="intervalo" value="Mês">
                                {% else: %}
                                <input class="tempo" type="submit" name="intervalo" value="Mês">
                                {% endif %}

                                {% if intervalo == 'Tudo' %}
                                <input class="tempoatv" type="submit" name="intervalo" value="Tudo">
                                {% else: %}
                                <input class="tempo" type="submit" name="intervalo" value="Tudo">
                                {% endif %}
                            </div>
                        </form>
                    

                        <div>
                            {% if per_cham != "Não houve soilictações durante esse periodo" %}
                            <script type="text/javascript">
                                google.charts.load("current", {packages:["corechart"]});
                                google.charts.setOnLoadCallback(drawChart);
                                function drawChart() {
                                    var data = google.visualization.arrayToDataTable([
                                    ['Status',  'Quantidade'],
                                    ['Fechados', {{per_cham[1]}}],
                                    ['Abertos', {{per_cham[0]}}],
                                    ]);

                                    var options ={
                                        title: 'Percentual de chamados abertos e fechados',
                                        pieHole: 0.4,
                                        bold: true,
                                        width: 600,
                                        height: 480,
                                        colors: ['rgb(177, 10, 4)', 'rgb(15, 76, 129)'],
                                        chartArea:{left:180},
                                        backgroundColor: 'transparent',
                                        fontSize: 17,
                                        legend: {
                                            position: 'top',
                                            alignment: 'center'
                                        },
                                    };

                                    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                                    chart.draw(data, options);
                                }
                            </script> 
                                <div id="donutchart" style="width: 100%; height: 100%;"></div>
                        </div>
                
                    
                    <br>
                    {% if evo_cham == 'Escolha um periodo maior para acessar o gráfico de evolução' %}
                    <p class="aviso">{{evo_cham}}</p>
                    {% else %}
                    <div class="evo-grafico">
                        <script type="text/javascript">
                            google.charts.load('current', {'packages':['line']});
                            google.charts.setOnLoadCallback(drawChart);

                        function drawChart() {

                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Dia');
                            data.addColumn('number', 'Abertos');
                            data.addColumn('number', 'Fechados');
                            

                            data.addRows([
                            {% for cham in evo_cham %}
                        
                            ['{{cham[-1]}}', {{cham[0]}}, {{cham[1]}}],

                            {% endfor %}
                            ]);

                        var options = {
                                title: 'Evolução do número de chamados abertos e fechados',
                                titleTextStyle: {
                                    color: 'black',
                                    bold: true, 
                                },
                                backgroundColor: 'transparent',
                                width: 620,
                                height: 400,
                                colors: ['rgb(15, 76, 129)', 'rgb(177, 10, 4)'],
                                fontSize: 17,
                                legend: {
                                    position: 'top',
                                    alignment: 'center'
                                }
                                
                        };
                        

                        var chart = new google.charts.Line(document.getElementById('linechart_material'));

                        chart.draw(data, google.charts.Line.convertOptions(options));
                        };
                        </script>
                        <div id="linechart_material" style="width: 600px; height: 400px;"></div>
                    </div>
                    {% endif %}

                    {% else %}
                    <div>
                        <p class="aviso">{{per_cham}}</p>
                    </div>
                    {% endif %}
                </div>

                <br>
                <br>
                <br>

                <div class="div_notas">
                    <h2 class="test_inter">Notas</h2>
                    <div class="nota-sistema">
                        <h4 class="media-sistema"> Avaliação média global do sistema
                            {% if media_geral >= 6 %}
                            <p class='media_azul'> {{media_geral}} </p>
                            {% else %}
                            <p class='media_vermelha'> {{media_geral}} </p>
                            {% endif %}
                        </h4>
                    </div>

                    <br>

                    <div class="media-tecnicos">
                        <h4 class="titulo-media-tecnicos"> Avaliação média dos Técnicos </h4>
                            <div class="tabela-media-tecnicos">
                                <table class="tabela" border='1px'>
                                    <tr class="cabecalho-tabela">
                                        <th>Técnico</th><th>Nota</th>
                                    </tr> 
                                    {% for tecs in media_tecs %}
                                    <tr>
                                        <td>{{tecs[0]}}</td><td>{{tecs[1]}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                    </div>
                </div>
                
            </div> 
        </main>
    </section>
</body>

</html>