<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scarle=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Página do Administrador</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <section class="abas">
        <header>
            <div class="logout1">
                <img src="..\static\Imagens\logo.png" width="50%" alt="Logout">
            </div>
            <nav>
                <div class="perfil">
                    <img class="img"src="https://cdn-icons-png.flaticon.com/512/64/64572.png?w=740&t=st=1649205811~exp=1649206411~hmac=2b5ab8271b0f5e8fad6bbbfaf3aebb98fc508fa02302d598d79b31bb4239cf53">
                    <div class="texto">
                       Administrador
                    </div>
                </div>
                <hr>
                <a href="./nova_soli" class="solicitacao">
                    <img class="icone" src="https://cdn-icons-png.flaticon.com/512/37/37770.png?w=360">
                    <div>
                        Nova solicitação
                    </div>
                </a>
                <a href="./graficos" class="solicitacao">
                    <div>
                        Graficos
                    </div>
                </a>
                <a href="./usuarioss" class="solicitacao">
                    <div>
                        Usuários
                    </div>
                </a>
                <a href="./historico" class="solicitacao">
                    <div>
                        Minhas solicitações
                    </div>
                </a>
                <a href="./solicitacoes" class="solicitacao">
                    <div>
                        Solicitações
                    </div> 
                </a>
            </nav>
            <div class="logout">
                <a href="./login.html"><img src="..\static\Imagens\logout.png" alt="Logout"></a>
                <p style="margin: 0;">Sair</p>
            </div>
        </header>

        <main>
            <script type="text/javascript">
              google.charts.load("current", {packages:["corechart"]});
              google.charts.setOnLoadCallback(drawChart);
              function drawChart() {
                var data = google.visualization.arrayToDataTable([
                  ['Status',  'Quantidade'],
                  ['Fechados', {{per_cham[1]}}],
                  ['Abertos', {{per_cham[0]}}],
                ]);
        
                var options ={
                    title: 'Percentual de chamados abertos e fechados',
                    pieHole: 0.4,
                    width: 800,
                    height: 480,
                    colors: ['rgb(177, 10, 4)', 'rgb(15, 76, 129)']
                };
        
                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(data, options);
              }
            </script>
               <div id="donutchart" style="width: 100%; height: 100%;"></div>
        </main>
    </section>
</body>

</html>