<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scarle=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Todas as Solicitações</title>
    <link rel="stylesheet" href="../static/css/style_adm.css">
</head>

<body>
    <section class="abas">
        <header class="active">
            <div class="toggle_btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logout1">
                <img src="..\static\Imagens\logo.png" width="50%" alt="Logout">
            </div>
            <nav>
                <div class="perfil">
                    <img class="img"src="https://cdn-icons-png.flaticon.com/512/64/64572.png?w=740&t=st=1649205811~exp=1649206411~hmac=2b5ab8271b0f5e8fad6bbbfaf3aebb98fc508fa02302d598d79b31bb4239cf53">
                    <div class="texto">
                       Administrador
                    </div>
                </div>
                <hr>
                <a href="./nova_soli" class="solicitacao">
                    <img class="icone" src="https://cdn-icons-png.flaticon.com/512/37/37770.png?w=360">
                    <div>
                        Nova solicitação
                    </div>
                </a>
                <a href="./graficos" class="solicitacao">
                    <div>
                        Relatórios do Sistema
                    </div>
                </a>
                <a href="./usuarioss" class="solicitacao">
                    <div>
                        Usuários
                    </div>
                </a>
                <a href="./historico" class="solicitacao">
                    <div>
                        Minhas solicitações
                    </div>
                </a>
                <a href="./solicitacoes" class="solicitacao">
                    <div>
                        Solicitações
                    </div> 
                </a>
            </nav>
            <div class="logout">
                <a href="./login.html"><img src="..\static\Imagens\logout.png" alt="Logout"></a>
                <p style="margin: 0;">Sair</p>
            </div>
            <script src="..\static\script.js"></script>
        </header>

        <main>
            {% if Details == '*Não há chamados' %}
            <p class="aviso">{{Details}}</p>
            {% else %}
                <h1>Abertos</h1>
                {% for user in Details %}
                {% if user[5] == 'Aberto' %}
                <details>
                    <summary>
                        <table>
                            <thead>
                                <tr class="text_table">
                                    {% for w in usuarios %}
                                    {% if user[2] == w[0] %}
                                    <td>Cliente: {{w[1]}}</td>
                                    {% endif %}
                                    {% endfor %}
                                    {% for w in usuarios %}
                                    {% if user[4] == w[0] %}
                                    <td>Técnico: {{w[1]}}</td>
                                    {% endif %}
                                    {% endfor %}
                                    <td>Data da solicitação: {{user[3]}}</td>
                                </tr>
                            </thead>
                        </table>
                    </summary>
                    <table>
                        <thead>
                            <tr>
                                <td>Tipo de problema:</td>
                                <td>Descrição:</td>
                                <td>Resposta:</td>
                            </tr>
                        </thead>
                        <tr>
                            <td><p class="td">{{user[8]}}</p></td>
                            <td><p class="td">{{user[1]}}</p></td>
                            <td>
                                <form class="formulario" method="POST" action="/resposta/{{user.0}}">
                                    <textarea type='text' name="resposta" class='Boxtext_motivo' placeholder="Motivo..."request></textarea>
                                    <br>
                                    <select name="status">
                                        <option value="Aceito">Aceitar chamado</option>
                                        <option value="Negado">Negar chamado</option>
                                    </select>
                                    <div class="btn">
                                        <button class='btn_' type="submit">Enviar</button>
                                </form>
                                </div>

                                </div>
                            </td>
                        </tr>
                    </table>
                </details>
                {% endif %}
                {% endfor %}

                <h1>Aceitos</h1>
                <table>
                    <thead>
                        <tr class="text_table">
                            <td class="aj">Solicitação</td>
                            <td class="aj">Cliente</td>
                            <td class="aj">Data da solicitação</td>
                            <td class="aj">Técnico</td>
                            <td class="aj">Resposta</td>
                            <td class="aj">Data da resposta</td>
                        </tr>
                    </thead>
                    {% for user in Details %}
                        {% if user[5] == 'Aceito' %}
                            <tr>
                                <td class="aj">{{user[1]}}</td>
                                {% for w in usuarios %}
                                {% if user[2] == w[0] %}
                                <td class="aj">{{w[1]}}</td>
                                {% endif %}
                                {% endfor %}
                                <td class="aj">{{user[3]}}</td>
                                {% for w in usuarios %}
                                {% if user[4] == w[0] %}
                                <td class="aj">{{w[1]}}</td>
                                {% endif %}
                                {% endfor %}
                                <td class="aj">{{user[6]}}</td>
                                <td class="aj">{{user[7]}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}  
                </table>
            
                <h1>Negados</h1>
                <table>
                    <thead>
                        <tr class="text_table">
                            <td class="aj">Solicitação</td>
                            <td class="aj">Cliente</td>
                            <td class="aj">Data da solicitação</td>
                            <td class="aj">Técnico</td>
                            <td class="aj">Resposta</td>
                            <td class="aj">Data da resposta</td>
                        </tr>
                    </thead>
                    {% for user in Details %}
                        {% if user[5] == 'Negado' %}
                            <tr>
                                <td class="aj">{{user[1]}}</td>
                                {% for w in usuarios %}
                                {% if user[2] == w[0] %}
                                <td class="aj">{{w[1]}}</td>
                                {% endif %}
                                {% endfor %}
                                <td class="aj">{{user[3]}}</td>
                                {% for w in usuarios %}
                                {% if user[4] == w[0] %}
                                <td class="aj">{{w[1]}}</td>
                                {% endif %}
                                {% endfor %}
                                <td class="aj">{{user[6]}}</td>
                                <td class="aj">{{user[7]}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}  
                </table>
            {% endif %}
        </main>
        
    </section>
</body>

</html>