<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scarle=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Página do cliente</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>
    <section class="abas">
        <header>
            <div class="logout1">
                <img src="..\static\Imagens\logo.png" width="50%" alt="Logout">
            </div>
            <nav>
                <div class="perfil">
                    <img class="img"
                        src="https://cdn-icons-png.flaticon.com/512/64/64572.png?w=740&t=st=1649205811~exp=1649206411~hmac=2b5ab8271b0f5e8fad6bbbfaf3aebb98fc508fa02302d598d79b31bb4239cf53">
                    <div class="texto">
                        Meu perfil
                    </div>
                </div>
                <hr>
                <a href="#soli" class="solicitacao">
                    <img class="icone" src="https://cdn-icons-png.flaticon.com/512/37/37770.png?w=360">
                    <div>
                        Nova solicitação
                    </div>
                </a>
                <a href="#historico" class="solicitacao">
                    <div>
                        Minhas solicitações
                    </div>
                </a>
            </nav>
            <div class="logout">
                <a href="./login.html"><img src="..\static\Imagens\logout.png" alt="Logout"></a>
                <p style="margin: 0;">Sair</p>
            </div>
        </header>
        <main id="soli">
            <div class="tela_solicitacao">
                <form class="tela_solicitacao" name="solicitacao" method="post" action="{{url_for('solicitacao')}}">
                    <label class="texto">Descrição do problema</label>
                    <br>
                    <textarea type ='text' name="solicitacao" class="criacao" placeholder="Descreva a solicitação..." request></textarea>
                    <br>
                    <label class="texto">Tipo de problema</label>
                    <select name="tipo">
                        <option value="Dúvidas ou Esclarecimentos">Dúvidas ou Esclarecimentos</option>
                        <option value="Problemas de Software">Problemas de Software</option>
                        <option value="Problemas de Hardware">Problemas de Hardware</option>
                    </select>
                    <br>
                    <button class="botao" type="submit">Enviar</button>
                </form>
            </div>
        </main>
        <main id="historico">
            <table>
                <thead>
                    <tr class="text_table">
                        <td class="aj">Solicitação</td>
                        <td class="aj">Problema</td>
                        <td class="aj">Data da solicitação</td>
                        <td class="aj">Resposta</td>
                        <td class="aj">Data da resposta</td>
                        <td class="aj">Status</td>
                        <td class="aj">Avaliação</td>
                    </tr>
                </thead>
                {% for user in lista %}
                    <tr>
                        <td class="aj">{{user[1]}}</td>
                        <td class="aj">{{user[8]}}</td>
                        <td class="aj">{{user[3]}}</td>
                        <td class="aj">{{user[6]}}</td>
                        <td class="aj">{{user[7]}}</td>
                        <td class="aj">{{user[5]}}</td>
                        <td class="aj">
                            <form class="rate" method="post" action="/avaliacao_solicitacao/{{user.0}}">
                                <input type="submit" id="star1" name="rate" value="5" />
                                <label for="star1" title="text"></label>

                                <input type="submit" id="star2" name="rate" value="4" />
                                <label for="star2" title="text"></label>

                                <input type="submit" id="star3" name="rate" value="3" />
                                <label for="star3" title="text"></label>

                                <input type="submit" id="star4" name="rate" value="3" />
                                <label for="star4" title="text"></label>

                                <input type="submit" id="star5" name="rate" value="1" />
                                <label for="star5" title="text"></label>
                            </form>
                        </td>
                    </tr>
                {% endfor %}  
            </table>
        </main>
    </section>
</body>

</html>