<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scarle=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Página do cliente</title>
    <link rel="stylesheet" href="..\static\css\style_usuario.css">
</head>

<body>
    <section class="abas">
        <header>
            <div class="logout">
                <a href="./login.html"><img src="..\static\Imagens\logout.png" alt="Logout"></a>
            </div>
            <nav>
                <div class="perfil">
                    <img class="img"
                        src="https://cdn-icons-png.flaticon.com/512/64/64572.png?w=740&t=st=1649205811~exp=1649206411~hmac=2b5ab8271b0f5e8fad6bbbfaf3aebb98fc508fa02302d598d79b31bb4239cf53">
                    <div class="texto">
                        Meu perfil
                    </div>
                </div>
                <hr>
                <a href="#soli" class="solicitacao">
                    <img class="icone" src="https://cdn-icons-png.flaticon.com/512/37/37770.png?w=360">
                    <div>
                        Nova solicitação
                    </div>
                </a>
                <a href="#historico" class="solicitacao">
                    <p>Minhas solicitações</p>
                </a>
            </nav>
        </header>
        <main id="soli">
            <div class="tela_solicitacao">
                <div class="texto">
                    <p><h3>Em sua solicitação deve conter:</h3>
                    Tipo de problema: Hardware, Software ou esclarecimento/informação <br>
                    Descrição do problema</p>
                </div>
                <form class="tela_solicitacao" name="solicitacao" method="post" action="{{url_for('telausuario')}}">
                    <textarea type ='text' name="solicitacao" class="criacao" placeholder="Descreva a solicitação..." request></textarea>
                    <button class="botao" type="submit">Enviar</button>
                </form>
            </div>
        </main>
        <main id="historico">
            <table>
                <thead>
                    <tr class="text_table">
                        <td class="aj">Solicitação</td>
                        <td class="aj">Email</td>
                        <td class="aj">Data da solicitação</td>
                        <td class="aj">Resposta</td>
                    </tr>
                </thead>
                {% for user in Details %}
                    <tr>
                        <td class="aj">{{user[1]}}</td>
                        <td class="aj">{{user[2]}}</td>
                        <td class="aj">{{user[3]}}</td>
                        <td class="aj">{{user[6]}}</td>
                    </tr>
                {% endfor %}  
            </table>
        </main>
    </section>
</body>

</html>