<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scarle=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Página do cliente</title>
    <link rel="stylesheet" href="..\static\css\style_adm.css">
</head>

<body>
    <section class="abas">
        <header class="active">
            <div class="toggle_btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logout1">
                <img src="..\static\Imagens\logo.png" width="50%" alt="Logout">
            </div>
            <nav>
                <div class="perfil">
                    <img class="img"
                        src="https://cdn-icons-png.flaticon.com/512/64/64572.png?w=740&t=st=1649205811~exp=1649206411~hmac=2b5ab8271b0f5e8fad6bbbfaf3aebb98fc508fa02302d598d79b31bb4239cf53">
                    <div class="texto">
                        Meu perfil
                    </div>
                </div>
                <hr>
                <a href="./user_ini" class="solicitacao">
                    <img class="icone" src="https://cdn-icons-png.flaticon.com/512/37/37770.png?w=360">
                    <div>
                        Nova solicitação
                    </div>
                </a>
                <a href="./user_historico" class="solicitacao">
                    <div>
                        Minhas solicitações
                    </div>
                </a>
            </nav>
            <div class="logout">
                <a href="./login.html"><img src="..\static\Imagens\logout.png" alt="Logout"></a>
                <p style="margin: 0;">Sair</p>
            </div>
            <script src="..\static\script.js"></script>
        </header>

        {% if aviso == 1 %}
        <script>
            {
            alert('*Solicitação enviada com sucesso');
            }
        </script>
        {% endif %}
        {% if aviso == 2 %}
        <script>
            {
            alert('*Sua solicitação não foi enviada, pois não há técnicos no sistema');
            }
        </script>
        {% endif %}

        <main>
            {% for user in dados %}
            <details>
                <summary>
                    <table>
                        <thead>
                            <tr class="text_table">
                                <td>Tipo da solicitacao: {{user[8]}}</td>
                                <td>Status: {{user[5]}}</td>
                                <td>Data da solicitação: {{user[3]}}</td>
                            </tr>
                        </thead>
                    </table>
                </summary>

                <table>
                    <thead>
                        <tr class="text_table">
                            <td class="aj">Solicitação</td>
                            <td class="aj">Resposta</td>
                            <td class="aj">Data da resposta</td>
                            {% if user[5] != 'Aberto' %}
                            {% if user[9] == None %}
                            {% endif %}
                            {% endif %}
                        </tr>
                    </thead>
                    
                        <tr>
                            <td class="aj">{{user[1]}}</td>
                            <td class="aj">{{user[6]}}</td>
                            <td class="aj">{{user[7]}}</td> 
                        </tr>
                </table>
                {% if user[5] != 'Aberto' %}
                {% if user[9] == None %}
                <table>
                        <thead>
                            <td class="aj">Avaliação</td>
                        </thead>
                        <tr>
                            <td class="aj">
                                <div class="estrela">
                                    <form method="POST" action="/avaliacao_solicitacao/{{user[0]}}">>

                                            <input class="ava0" type="submit" id="star5" name="rate" value="0" />
                                            <input class="ava1" type="submit" id="star4" name="rate" value="1" />
                                            <input class="ava1" type="submit" id="star4" name="rate" value="2" />
                                            <input class="ava1" type="submit" id="star4" name="rate" value="3" />
                                            <input class="ava1" type="submit" id="star3" name="rate" value="4" />
                                            <input class="ava2" type="submit" id="star4" name="rate" value="5" />
                                            <input class="ava2" type="submit" id="star2" name="rate" value="6" />
                                            <input class="ava2" type="submit" id="star4" name="rate" value="7" />
                                            <input class="ava3" type="submit" id="star1" name="rate" value="8" />
                                            <input class="ava3" type="submit" id="star4" name="rate" value="9" />
                                            <input class="ava" type="submit" id="star4" name="rate" value="10" />

                                    </form>
                                </div>
                            </td>
                        </tr> 
                </table>
                {% endif %}
                {% endif %}
            </details>
            {% endfor %} 
        </main>
    </section>
</body>

</html>