body, html {
    display: flex;
    height: 100%; 
    width: 100%;
}
.cor_fundo {
    background-color: #a9a9a9;
    align-items: center;
    margin: 0;
}
.fundo_janela {
    width: 450px;
    margin: auto;
    padding-bottom: 5%;
    vertical-align: middle;
}
.janela {
    box-shadow: 1px 1px 5px black;
    background-color: #efefef;
    padding: 10px;
    border-radius: 5px;
}
.img_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}
.card-group {
    margin-bottom: 10px;
}
.card-group > label {
    width: 100%;
    color: black;
    display: block;
}
.card-group > input {
    border-radius: 5px;
    width: 423px;
    height: 25px;
    padding-bottom: 5px;
}
.card-group > button {
    background-color: rgb(177, 10, 4);
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    color: white;
    border: 0;
}
.title {
    color: rgb(177, 10, 4);
    text-align: center;
}