html, body {
    width: 100%;
    height: 100%;
}
body {
    display: block;
    margin: 0;
}
section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
main {
    flex-grow: 1;
}
header{
    background-color: rgba(112, 128, 194, 0.905);
    font-family: sans-serif;
    border-bottom: 5px solid rgb(82, 79, 94);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
footer {
	background-color: rgba(112, 128, 194, 0.905);
    font-family: sans-serif;
    border-bottom: 5px solid rgb(82, 79, 94);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
header, main, footer {
    flex-shrink: 0;
}
.img_cabeçario{
    width: 150px;
    padding-left: 20px;
}
#bloc_cabeçario{
    text-align: right;
}
.texto_cabeçario{
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 10px;
    font-weight: 550;
    background-color: rgb(82, 79, 94);
    height: 50px;
    line-height: 50px; 
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(78, 78, 126);
}



.cor_fundo{
    background-color:  rgb(82, 79, 94);
}  
.fundo_janela{
    width: 450px;
    margin: auto;
    padding-top: 40px;
}
.janela{
    box-shadow: 1px 1px 5px rgb(194, 190, 190);
    background-color: white;
    padding: 35px;
    border-radius: 5px;
}
.img_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}
.card-group{
    margin-bottom: 10px;
}
.card-group >label{
    width: 100%;
    color: black;
    display: block;
}
.card-group >input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}
.card-group >button{
    background-color: darkred;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
}
.title{
    color: darkred;
    text-align: center;
}
