*{
    font-family: 'Quicksand', sans-serif;
}

body, html {
    display: flex;
    height: 100%; 
    width: 100%;
}
body {
    display: block;
    margin: 0;
}
section {
    min-height: 100%;
    display: flex;
    flex-direction: row;
}
main {
    flex-grow: 1;
    background-color: white;
    padding: 60px;
}

header {
    position: fixed;
    height: 100%;
    left: -250px;
    background-color: rgb(179, 175, 175);
    width: 250px;
    padding: 15px 10px 15px 0;
    border-right: 4px ;
    transition: all 300ms ease-in-out;
}

header .toggle_btn{
    position: absolute;
    top:10px;
    right: -40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

header .toggle_btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #111;
    transform: translateY(-50);
    transition: all 300ms ease-in-out;
}

header .toggle_btn span:nth-child(1){
    top:10%;
}

header .toggle_btn span:nth-child(2){
    top:50%;
}

header .toggle_btn span:nth-child(3){
    top:90%;
}

header nav a.active, header nav a:hover{
    background: rgb(107, 107, 107);
    color: #ffffff;
}


header.active{
    left: 0px;
}

header.active .toggle_btn span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
}

header.active .toggle_btn span:nth-child(2){
    display: none;
}

header.active .toggle_btn span:nth-child(3){
    top:50%;
    transform: translateY(-50%) rotate(-45deg);
}

.perfil,
.solicitacao,
.corpo{
    background-color: white;
    text-align: center;
    border: 3px;
    display: flex;
}
.perfil,
.solicitacao{
    padding: 10px 0;
}
.solicitacao,
.corpo{
    text-decoration: none;
    color: black;
    border-radius: 0px 30px 30px 0;
}
.perfil{
    margin-left: 10px;
    border-radius: 3px;
    align-items: center;
    justify-content: flex-start;
}
.solicitacao{
    margin: 40px 0 50px 0;
    justify-content: center;
}
.corpo{
    height: 32px;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 32px;
    height: 32ps;
    margin-left: 15px;
    border-radius: 50%;
}
.texto{
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    width: 100%;
}
.icone{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
header,
main{
    flex-shrink: 0;
}
.logout1{
    padding: 15px;
    display: flex;
    justify-content: center;
}
.logout{
    position: fixed;
    bottom: 3px;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}
table{
    background-color: rgb(204, 204, 204);

    border-radius: 2px;
    width: 100%;
    text-align: center;
    border-spacing: 1px;
}
table td{
    
    padding: 15px;
    color: black;
}
.desc_problema{
    background-color: rgb(143, 142, 142);
}
.criacao{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    border: 3px solid rgb(146, 146, 146);
    background-color: rgb(245, 245, 245);
    font-size: 22px;
    padding: 15px;
    text-align: justify;
    font-family: unset;
}
.tela_solicitacao{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
} 
.botao{
    margin-top: 10px;
    font-size: 18px;
    background-color: rgb(177, 10, 4);
    width: 400px;
    border-radius: 5px;
    padding: 15px;
    color: white;
    border: 0;
}
.text_table {
    font-size: 20px;
    background-color: rgb(177, 10 ,4);
}
.text_table td{
    color: whitesmoke;
}
.Boxtext_motivo{

    font-size: 18px;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    border: 3px solid rgb(146, 146, 146);
    background-color: rgb(245, 245, 245);
    font-size: 22px;
    padding: 15px;
    text-align: justify;
    font-family: unset;
}
.aj {
    padding: 5px;
    border: 1px solid #ffffff;
    color: #000000;
    border-color: none;
    max-width: 28px;
    word-wrap: break-word;
}
.estrela{
    display: flex; 
    justify-content: center;
}
.desc_solucao{
    padding: 10px;
}
.btn_enviar{
    background-color:whitesmoke;
    color: black;
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.btn button{
    margin: 7px 5px;
}
.btn_{
    background-color: rgb(177, 10, 4);
    width: 30%;
    border-radius: 5px;
    padding: 15px;
    color: white;
    border: 0;
}
thead {
    background-color: #a9a9a9;
}
.tituloc{
    margin-left: 10px;
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.td {
    
    display: flex;
    justify-content: center;
    max-width: 980px;
    word-break: break-word;
}
details {
    background-color: rgb(219, 219, 219);
    width: 100%;
    margin-bottom: 30px;
}
details > summary {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.ver {
    color:rgb(255, 255, 255);
    background-color: #080808;
    border-color: rgb(0, 0, 0);
    border-radius: 10%;
    padding: 0.2%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.tempo{
    padding: 7px 14px;
    margin: 0 5px;
    border: 0;
    border-radius: 2px;
    color: white;
    color: black;
    border: 1px solid rgb(0, 0, 0);
}
.tempoatv{
    padding: 7px 14px;
    margin: 0 5px;
    background-color: rgb(177, 10, 4);
    border: 0;
    border-radius: 2px;
    color: white;
}
.test_inter{
    display: flex;
    justify-content: center;
}
.div_intervalo{
    background-color: rgba(146, 146, 146, 0.158);
    width: 60%;
    border-radius: 10px;
    padding-bottom: 30px;
}
.div_notas{
    background-color: rgba(146, 146, 146, 0.158);
    width: 60%;
    border-radius: 10px;
    padding-bottom: 30px;
}
.form_intervalo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.relatorios-graficos {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.relatorios-titulo {
    font-size: xx-large;
    padding-top: 1%;
}

.evo-grafico {
    margin-left: 2%;
}
.media-sistema {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.media_azul,
.media_vermelha{
    display: flex;
    justify-content: center;
}
.media_azul{
    color: rgb(15, 76, 129);
}
.media_vermelha{
    color: rgb(177, 10, 4);
}
.nota-sistema {
    display: flex;
    justify-content: center;
}
.media-tecnicos {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: flex-start;
    padding-top: 3%;
}

.titulo-media-tecnicos{
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.tabela-media-tecnicos {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.tabela{
    width: 35%;
    height: 80%;
    justify-content: center;
}

.cabecalho-tabela{
    background-color: rgb(189, 32, 32);
    padding: 2%;
    font-size: larger;
    color: white
}
.aviso {
    color: rgb(177, 10, 4);
    text-align: center;
}
.enviar{
    color: white;
    background-color: rgb(177, 10, 4);
    border-radius: 5px;
    border: 0;
    margin-bottom: 4px;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:rgb(255, 255, 255);
}
.rate:not(:checked) > label:before {
    content: '★';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

@media (max-width:600px){

    main {
        flex-grow: 1;
        background-color: rgb(255, 255, 255);
        padding: 10px;
    }

    header,
    main{

        flex-shrink: 2;
    }

    .Boxtext_motivo{
        font-size: 18px;
        width: 80%;
        border-radius: 5px;
        border: 3px solid rgb(146, 146, 146);
        background-color: rgb(245, 245, 245);
        font-size: 22px;
        padding: 15px;
        text-align: justify;
        font-family: unset;
}
    .aj {
        padding: 1px;
        font-size: 15px;
    }

    td{
        font-size: 15px;
    }
    .botao{
        width: 200px;
    }

    .criacao{
        width: 80%;
    }

    .btn_{
        width: 80%;
    }
    
}








