*{
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    display: block;
    margin: 0;
}
section {
    min-height: 100%;
    display: flex;
    flex-direction: row;
}
section.abas main {
    display: none;
}
section.abas main:target{
    display: block;
}
main {
    flex-grow: 1;
    background-color: white;
    padding: 60px;
}



header {
    background-color: rgb(219, 219, 219);
    width: 250px;
    padding: 15px 10px 15px 0;
    border-right: 4px solid rgb(146, 146, 146);
}
.perfil,
.solicitacao,
.corpo{
    background-color: #a9a9a9;
    text-align: center;
    border: 3px solid rgb(146, 146, 146);
    display: flex;
}
.perfil,
.solicitacao{
    padding: 10px 0;
}
.solicitacao,
.corpo{
    text-decoration: none;
    color: black;
    border-radius: 0px 30px 30px 0;
}
.perfil{
    margin-left: 10px;
    border-radius: 3px;
    align-items: center;
    justify-content: flex-start;
}
.solicitacao{
    margin: 70px 0 50px 0;
    justify-content: center;
}
.corpo{
    height: 32px;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 32px;
    height: 32ps;
    margin-left: 15px;
    border-radius: 50%;
}
.texto{
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    width: 100%;
}
.icone{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
header,
main{
    flex-shrink: 0;
}
.logout{
    padding: 15px;
    display: block;
}

table{
    background-color: rgb(204, 204, 204);
    border: none;
}
table td{
    padding: 15px;
    color: black;
}

.desc_problema{
    background-color: rgb(143, 142, 142);
}


table {
    border-radius: 2px;
    width: 100%;
    text-align: center;
    border-spacing: 1px;
}


.aj {
    border: 2px solid #000000;
}
.text_table {
    font-size: 20px;
    background-color: rgb(77, 76, 76);
}
.text_table td{
    color: whitesmoke;
}
.btn_aceitar , .btn_recusar{
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
    
}

.btn_aceitar{
    background-color: rgb(44, 201, 44);
    color: rgb(221, 220, 220);
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
}

.btn_recusar{
    background-color: rgb(201, 44, 44);
    color: rgb(221, 220, 220);
    
}

.desc_solucao{
    padding: 10px;
}

.TextBoxDesc-Ac{
    width: 95%;
    border-radius: 5px;
    border: 3px solid rgb(146, 146, 146);
    background-color: rgb(245, 245, 245);
    font-size: 22px;
    padding: 15px;
    text-align: justify;
}

.botao{
    margin-top: 10px;
    font-size: 18px;
    background-color: rgb(177, 10, 4);
    width: 400px;
    border-radius: 5px;
    padding: 15px;
    color: white;
    border: 0;
}

.btn_enviar{
    background-color:whitesmoke;
    color: black;
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
}

.Boxtext_motivo{
    font-size: 18px;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    border: 3px solid rgb(146, 146, 146);
    background-color: rgb(245, 245, 245);
    font-size: 22px;
    padding: 15px;
    text-align: justify;
    font-family: unset;
}

textarea{
    font-size: 18px;
}

.Boxtext_motivo, .btn_enviar{
    display: flex;
}

