<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,inital-scarle=1.0">
        <meta http-equiv="X-UA-compatible" content="ie=edge">
        <title>Cadastro Fatec</title>
        <link rel="stylesheet" href="..\static\css\style.css">
    </head>
    <body>
        <form class="fundo_janela" action="#">
            <div class="janela">
                <div class="img_logo">
                    <img class="imglogin" src="..\static\imagens\logo_nome.jpg" alt="">
                    <h2 class="title"> Cadastro </h2>
                </div>

                <div class="card-group">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Digite seu email" required>
                </div>
                <div class="card-group">
                    <label>senha</label>
                    <input type="password" name="Senha" placeholder="Digite sua senha"required>
                </div>
                <div class="card-group">
                    <label>Confirme sua senha</label>
                    <input type="password" name="Senha" placeholder="Confirme sua senha"required>
                </div>
                <div class="card-group">
                    <label><input type="checkbox" >Lembre-me</label>
                </div>
                <div class="card-group">
                    <button type="submit">Cadastar-se</button>
                </div>
                <a href="login.html">Fazer login</a>
            </div>
        </form>
       

</body>
</html>