<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scarle=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Cadastro Fatec</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body>
    <section>
        <header>
            <img class="img_cabeçario" src="..\static\imagens\logo.png">
            <nav id="bloc_cabeçario">
                <a href="login.html" class="texto_cabeçario">Login</a>
                <a href="cadastro.html" class="texto_cabeçario">Cadastro</a>
            </nav>
        </header>
        <main>
            <div class="bloc">
                <div class="class">
                    <h1>
                        A forma mais rápida e prática possível entregando o resultado esperado.
                    </h1>
                </div>
                <div>
                    <h3>
                        Nossa missão:
                    </h3>
                    Nos visamos facilitar os problemas descritos pelos usuários, tendo como objetivo a melhoria de
                    comunicação
                    entre cliente e executor, nossa página conecta as pessoas que necessitam de suporte seja ele: de
                    software ou hardware, a um profissional da área de TI, atravez de um chate, onde a mesma pode solicitar 
                    um pedido ou ver seus pedidos anteriores,
                    tais pedidos são disponibilizados aos profissionais, que solucionarão o problema.
                    A forma mais rápida e prática possível entregando o resultado esperado.
                </div>
            </div>
        </main>
        <footer>
        </footer>
    </section>
</body>
</html>