<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scarle=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Página do executor</title>
    <link rel="stylesheet" href="../static/css/style_executor.css">
</head>

<body>
    <section>
        <header>
            <nav>
                <div class="perfil">
                    <img class="img"src="https://cdn-icons-png.flaticon.com/512/64/64572.png?w=740&t=st=1649205811~exp=1649206411~hmac=2b5ab8271b0f5e8fad6bbbfaf3aebb98fc508fa02302d598d79b31bb4239cf53">
                    <div class="texto">
                        Meu perfil
                    </div>
                </div>
                <hr>
                <div class="solicitacao">
                    <div>
                        Chamados
                    </div> 
                </div>
            </nav>
        </header>
        <main>
            <table id="users" class="display">
                <thead>
                    <tr>
                        <th>Solicitação</th>
                        <th>Email</th>
                        <th>Data</th>
                    </tr>
                </thead>
                {% for user in userDetails %}  
                <tbody>
                    <tr>
                        <td>{{user[1]}}</td>
                        <td>{{user[2]}}</td>
                        <td>{{user[3]}}</td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        </main>
    </section>
</body>

</html>