<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scarle=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Página do cliente</title>
    <link rel="stylesheet" href="../static/css/style_tela-principal.css">
</head>

<body>
    <section>
        <header>
            <nav>
                <div id="perfil">
                    <img id="img"
                        src="https://cdn-icons-png.flaticon.com/512/64/64572.png?w=740&t=st=1649205811~exp=1649206411~hmac=2b5ab8271b0f5e8fad6bbbfaf3aebb98fc508fa02302d598d79b31bb4239cf53">
                    <div id="texto">
                        Meu perfil
                    </div>
                </div>
                <hr>
                <a href="#main" id="solicitacao">
                    <img class="icone" src="https://cdn-icons-png.flaticon.com/512/37/37770.png?w=360">
                    <div>
                        Nova solicitação
                    </div>
                </a>
                <a href="#master" class="corpo">
                    <p>Minhas solicitações</p>
                </a>
            </nav>
        </header>
        <main>
            <div class="tela_solicitacao">
                <form class="tela_solicitacao" name="solicitacao" method="get" action="">
                    <textarea name="descricao" id="criacao" placeholder="Descreva a solicitação..."></textarea>
                    <button id="botao" type="submit">Enviar</button>
                </form>
            </div>
        </main>
        <master>

        </master>
    </section>
</body>

</html>