<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,inital-scarle=1.0">
        <meta http-equiv="X-UA-compatible" content="ie=edge">
        <title>Cadastro Fatec</title>
        <link rel="stylesheet" href="..\static\css\style.css">
    </head>
    <body>
        <section>
            <header>
                <img class="img_cabeçario" src="..\static\imagens\logo.png">
                <nav id="bloc_cabeçario">
                    <a href="login.html" class="texto_cabeçario">Login</a>
                    <a href="cadastro.html" class="texto_cabeçario">Cadastro</a>
                </nav>
            </header>
            <main>
                
            </main>
            <footer>

            </footer>
        </section>
    </body>
</html>